.repository-meta {
  margin: 0 10px 0 0;
}

/* info boxes */

ul.infobox {
  background: #efefef;
  padding: 10px;
  border: 1px solid #ddd;
}

ul.infobox li { margin-bottom: 0; }
ul.infobox li.meta { font-size: 11px; }
.infobox { padding: 5px; }
.infobox .alt-clone-links { color: #666; }

.infobox ul {
  padding: 0;
  margin: 0;
}

.repository-meta .infobox {
  background: #d9d9d9;
  width: 695px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: 1px solid #c5c5c5;
  font-size: 11px;
  float: left;
  padding: 0px 0px 0px 8px;
  background: url(images/clone-bg.png) repeat-x;
}
  .repository-meta.layoutsize-S .infobox {
    width: 290px;
  }

.repository-meta .infobox .clone-info {
  border-right: 1px solid #cccccc;
  text-shadow: 0px 1px #eee;
  padding: 6px 9px 1px 19px;
  float: left;
  height: 21px;
  font-size: 11px;
  font-weight: bold;
  background: url(images/link.png) no-repeat 0px 7px;
}
  .repository-meta.layoutsize-S .clone-info {
    display: none;
  }

.repository-meta .infobox ul li form p {
  float: left;
  text-shadow: 0px 1px #eee;
  margin: 0;
  height: 28px;
}
.repository-meta .infobox ul li form p input[type=radio] {
  position: relative;
  left: -4px;
  top: 1px;
}
.repository-meta .infobox ul li form p.clone-radio {
  border-right: 1px solid #cccccc;
  background: url(images/clone-bg.png) repeat-x;
  padding: 6px 9px 1px 7px;
  height: 21px;
}

.repository-meta .infobox input[type=text] {
  line-height: 20px;
  border: 0;
  background: #FFF;
  padding:7px 4px 1px 6px;
  height: 20px;
}

.repository-meta .infobox a.clone-help-toggler {
  margin-left: 5px;
  color: #080;
  float: right;
}
  .repository-meta.layoutsize-S .infobox a.clone-help-toggler {
    display: none;
  }

.repository-meta .infobox .clone-help-text {
  clear:both;
  padding: 10px 10px 0 10px;
}

.repository-meta .infobox p.clone-copy {
  float: left;
  overflow: hidden;
}
.repository-meta .infobox p.clone-copy {
  width: 405px;
}
.repository-meta .infobox p.clone-copy input[type="text"] {
  width: 380px;
}
  .repository-meta.layoutsize-S .infobox p.clone-copy {
    width: 150px;
  }
  .repository-meta.layoutsize-S .infobox p.clone-copy input[type="text"] {
    width: 140px;
  }

.repository-meta .infobox ul li form p label {
  cursor: pointer;
  float: left;
  font-size: 11px;
  line-height: 18px;
  height: 20px;
  padding-left: 5px;
}

.repository-meta .clone-radio-select label {
  width: 70px;
}
